* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #50a9b8;
}

a:hover {
    color: #326871;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul a {
    font-size: 1.2rem;
}

nav ul a:hover {
    font-size: 1.2rem;
}

.about-info {
    margin: 0 auto;
    max-width: 1200px;
}

.about-info p {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.teams-info {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto;
    max-width: 1200px;
}

.team {
    border-radius: 5px;
    padding: 1.1rem;
    box-shadow: 0px 0px 10px -2px rgb(192, 192, 192);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.team:hover {
    box-shadow: 0px 0px 15px -2px rgb(192, 192, 192);
}


.text-info {
    align-self: flex-start;
    margin-top: 1.5rem;
}

.text-info p {
    font-size: 1.1rem;
    margin: .4rem 0 ;
}


.team a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
}
.team img {
    height: 120px;
    width: 120px;
}

.startTitle {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #50a9b8;
}

footer  {
    text-align: center;
    margin: 1rem;
}

footer span {
    font-size: .7rem;
}