* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
}

main {
    margin: 1.5rem 0 ;
}

.about-info {
    height: 100vh;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #67d9ee;
}

a:hover {
    color: #326871;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    background-color: #2f2f2f;
}

header img {
    width: 100px;
    height: 60px;
}


@media (min-width: 400px) {
    header img {
        width: 150px;
        height: 60px;
    }
}

@media (min-width: 500px) {
    header img {
        width: 250px;
        height: 60px;
    }
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul a {
    font-size: 1.2rem;
}

nav ul a:hover {
    font-size: 1.2rem;
}

.about-info {
    margin: 0 auto;
    max-width: 1200px;
}

.about-info p {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.teams-info {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto;
    max-width: 1200px;
}

.team {
    background-color: #fff;
    border-radius: 5px;
    padding: 1.1rem;
    box-shadow: 0px 0px 10px -2px rgb(192, 192, 192);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.team:hover {
    box-shadow: 0px 0px 15px -2px rgb(192, 192, 192);
}


.text-info {
    align-self: flex-start;
}

.teams-info a {
    color: #50a9b8;
}
.teams-info a:hover {
    color: #67d9ee;
}

.text-info p {
    font-size: 1.1rem;
    margin: .4rem 0;
    color: #969696;
    font-weight: 500;
}


.team a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
}
.team img {
    height: 120px;
    width: 120px;
}



.startTitle {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #50a9b8;
}

footer  {
    background-color: #2f2f2f;
    text-align: center;
    padding: 1rem;
    color: #67d9ee;
}

footer span {
    font-size: .7rem;
}